.brand-logo img {
    width: 180px;
}

img.w-100 {
    border-radius: 10px;
}

.shadow {
    box-shadow: 1px 1px 10px #abc;
    max-width: 90%;
}

.cta-section--l1 .newsletter-form {
    max-width: 680px;
}

div.spacer {
    height: 3rem;
}